<h1 class="card-title"> <%= @view_type %> </h1>
<% @users.each do |user| %>
	<div class="jumbotron">
		<ul>
			<h2><%= user.full_name %></h2>
				<% if current_user.friends_with?(user) %>
					(Friends with)

				<% elsif user.requested_friends.include?(current_user) %>
					(Request sent)
				<% elsif current_user.requested_friends.include?(user) %>
					<%= button_to "Accept Friend", accept_friend_request_url(:user_id => user.id), class: "btn btn-sm btn-primary" %>
				<% else %>
					<%= button_to "Request Friend", send_friend_request_url(:user_id => user.id), class: "btn btn-sm btn-primary" %>
				<% end %>
		</ul>
	</div>
<% end %>
