<div class="card-block">
  <h1 class="card-title">Your Profile</h1>
  <%= render(:partial => "users/scorecard", :locals => {:user => @user})%>
  <% @notifications.each do |notification|%>
    <div class="odds-are-item-wrapper">
      <div class="odds-are-item">
        <h4 class="notification-text"><%= link_to notification.to_s, polymorphic_url(notification.notifiable) %></h4>
        <h6 class="card-centered-content">(<%= time_ago_in_words(notification.created_at) %> ago)</h6>
      </div>
    </div>
  <% end %>
</div>