<h1 class="card-title"> Your Friend Requests </h1>
<% if @friend_requests.empty? %>
	<h5 class="card-centered-content">You don't have any friend requests at the moment!</h5>
<% else %>
	<div class="card-block-row">
		<h1 class="card-title"> <%= @view_type %> </h1>
		<% @friend_requests.each do |user| %>
			<div class="card-list">
				<ul>
					<h2 class="card-centered-content"><%= user.full_name %></h2>
					<%= render(:partial => "users/scorecard", :locals => {:user => user})%>
						<%= link_to "Accept Friend", accept_friend_request_url(:user_id => user.id), class: "btn card-button", method: :post %>
				</ul>
			</div>
		<% end %>
	</div>
<% end %>