<div class="card-block">
  <h1 class="card-title">How to Play</h1>
  <h4>The first question you might have is what is "Odds Are"?</h4>
  <h4>Simple answer: Odds Are is chance-based dare game</h4>
  <h5>
   Each dare begins by sending a dare to a friend</br>
   The friend receiving the dare picks a number that determines the risk of the dare happening</br>
   The higher the number here, the less risk</br>
   The friend receiving the dare also picks their number: between 1 and what the dare is out of</br>
   The friend daring then tries to guess which number they picked, only knowing what the dare is out of</br>
   If friend daring guesses correctly, they won and the loser has to do the dare</br>
   However, there is always risk to the person sending the dare</br>
   If the two numbers chosen add up to what the dare is out of, the person daring loses!</br>
 </h5>
 <h5>If an "Odds Are" dare is lost, a task is created for the losing person</h5>
 <h5>This task won't go away until both users confirm it was completed</h5>
</div>
