<h1 class="card-title">Welcome to Odds Are!</h1>
<div class="row card-content-row">
  <div class="col-6" align="center">
    <a href="<%= new_user_session_path %>" class="hompage-icon">
      <span>
        <%= fa_icon "sign-in 5x" %>
      </span>
      <h4>Sign-in</h4>
    </a>
  </div>
  <div class="col-6" align="center">
    <a href="<%= new_user_registration_path %>" class="hompage-icon">
      <span>
        <%= fa_icon "address-card-o 5x" %>
      </span>
      <h4>Create Account</h4>
    </a>
  </div>
</div>
