<h1 class="card-title">Welcome to Odds Are!</h1>
<div class="row card-content-row">
  <div class="col-6" align="center">
    <a href="<%= new_user_session_path %>" class="hompage-icon">
      <span class="welcome-icon">
        <%= fa_icon "sign-in 5x" %>
      </span>
      <h4 class="welcome-icon-text">Sign-in</h4>
    </a>
  </div>
  <div class="col-6" align="center">
    <a class="hompage-icon" href="<%= new_user_registration_path %>">
      <span class="welcome-icon">
        <%= fa_icon "address-card-o 5x" %>
      </span>
      <h4 class="welcome-icon-text">Create Account</h4>
    </a>
  </div>
</div>
