<div class="container">
  <h1 class="card-title"><%= odds_are_title(@odds_are) %></h1>
  <div class="card-block">
    <%= render(:partial => "odds_ares/card_item", :locals => {:odds_are => @odds_are})%>
  </div>
</div>
