.card {
    margin-top: 40px;
    min-width: 440px;
}
.card-title {
    text-align: center;
    margin-top: 10px;
}
.card-block {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.card-subtitle {
    text-align: center;
    margin-bottom: 15px;
}

.card-content-row {
  margin-bottom: 15px;
}
.card-centered-content {
    text-align: center;
}

.card-button {
  text-align: center;
  margin-top: 10px;
}

.card-list {
  max-width: 400px;
  max-height: 150px;
  background-color: #eceeef;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  padding-right: 30px;
  align-self: center;
}

.odds-are-item {
  background-color: #eceeef;
  border-radius: 10px;
  margin-bottom: 20px;
  min-width: 400px;
}

.odds-are-initiator {
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
}

.odds-are-responder {
  margin-right: 10px;
  margin-top: 5px;
  float: right;
}

.odds-are-out-of {
  margin-right: 30px;
  margin-top: 5px;
  float: right;
}

.odds-are-number-chosen {
  margin-right: 30px;
  margin-top: 5px;
  float: right;
}

.odds-are-action {
  margin-left: 30px;
  margin-top: 10px;
}

.odds-are-icon-right {
  margin-left: 5px;
}

.odds-are-number-guessed {
  margin-left: 30px;
  margin-top: 5px;
}
