.card {
    margin-top: 40px;
}
.card-title {
    text-align: center;
    margin-top: 10px;
}
.card-block {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.card-subtitle {
    text-align: center;
    margin-bottom: 15px;
}

.card-content-row {
  margin-bottom: 15px;
}
.card-centered-content {
    text-align: center;
}

.card-button {
  text-align: center;
  margin-top: 10px;
}

.card-list {
  max-width: 400px;
  max-height: 150px;
  background-color: #eceeef;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  padding-right: 30px;
  align-self: center;
}
