.card {
    margin-top: 40px;
}
.card-title {
    text-align: center;
}
.card-block {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.card-subtitle {
    text-align: center;
    margin-bottom: 15px;
}
.card-centered-content {
    text-align: center;
}
