#current-odds-waiting-on-user-link {
  cursor: pointer;
}
#current-odds-waiting-on-friends-link {
  cursor: pointer;
}
#current-odds-waiting-on-friends-wrapper {
  // Initially this should not be visible (toggled via navbar)
  margin-top: 10px;
  display: none;
}
#current-odds-waiting-on-user-wrapper {
  margin-top: 10px;
}
