html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  //background-color: #f2f2f2;
  background-color: #ebe7e7;
  display: flex;
  flex-wrap: wrap;
}

#flash-banners-wrapper {
  flex: 100%;
}

#search {
  flex: 1;
  margin-top: -8px;
}

#top-navbar-wrapper {
  z-index: 1500;
  //background-color: #f7f7f7;
  background-color: #f9f7f7; // lighter red
  position: fixed;
  top: 0;
  width: 100%;
}

#left-sidebar-wrapper {
  padding-top: 40px;
  min-width: 160px;
  height: 100%;
  position: fixed;
  background-color: #f9f7f7;
}

#main-content-wrapper {
  flex-grow: 1;
  margin-left: 160px;
  margin-top: 54px;
  background-color: #ebe7e7;
}

#anonymous-content-wrapper {
  flex-grow: 1;
  margin-top: 40px;
}

#main-content-card {
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;  
}
@media (min-width: 676px) {
  #mobile-menu-toggle {
    display: none;
  }
}
@media (max-width: 676px) {
  #main-content-wrapper {
    margin-left: 0px;
  }
  html {
    height: 0%;
  } 
  #mobile-menu-toggle {
    display: inline-block;
    align-self: right;
  }
  #main-content-card {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/*
background-color: #DB3B61; // darker  red
background-color: #ef3f61; // lighter red
background-color: #3A3A59; // darker  grey
background-color: #555574; // lighter grey 
*/

.homepage-icon {
  text-decoration: none;
}