.sidebar {
  background-color: #f7f7f7;
  height: 800px;
}

.sidebar-group {
  margin-top: 30px;
  margin-left: 10px;
}

.sidebar-link-text {
  padding-left: 5px;
}

.sidebar-link-favicon {
  float: left;
	width: 20px;
}
